<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the site!</h1>
    <p>This is the landing page.</p>
    <a href="/form">Go To Form Page</a>
  </body>
</html>