<!DOCTYPE html>
<html>
  <head>
    <title>Landing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the site!</h1>
    <p>This is the landing page.</p>
    <p>You are in @Model.City</p>
    <p>Your name is now @Model.Name</p>
  </body>
</html>