@{
  Layout = "_Layout";
}

@model ProjectName.Models.ClassName

<h2>Instance Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<p>@Html.ActionLink("Back to list of instances", "Index")</p>