@{
  Layout = "_Layout";
}

@using ProjectName.Models;
@model List<ProjectName.Models.ClassName>;


<h1>Instances</h1>

<ul>
  @foreach(ClassName instance in Model)
  {
      <li>@Html.ActionLink($"{instance.Description}", "Details", new { id = instance.ClassNameId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new instance", "Create")</p>